/* ===== FONT GOGGLE ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

/* ===== Add the Tailwind directives to your CSS ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== REUSABLE CSS CLASS ===== */
@layer components {
  /* section class */
  .section {
    @apply pt-32 pb-16;
  }
  .section-title {
    @apply text-[24px] text-black font-bold leading-title mb-4;
  }
  .section-text {
    @apply text-[15px] text-grey leading-text mb-8;
  }

  /* button class */
  .button {
    @apply inline-flex justify-center items-center text-[15px] font-medium;
  }
  .button-fill {
    @apply py-4 px-8 bg-white rounded-2xl text-black;
  }
  .button-link {
    @apply gap-2 text-blue;
  }
  .button-link:hover .button-icon {
    @apply translate-x-1;
  }
  .button-icon {
    @apply inline-flex text-[1.2rem] text-blue transition-all duration-400;
  }
}

/* ===== HEADER SECTION ===== */
.header.sticky-action {
  @apply bg-white shadow-[0_2px_12px_rgba(0,0,0,0.1)];
}
.header.sticky-action .header__logo-icon {
  @apply text-blue;
}
.header.sticky-action .header__logo,
.header.sticky-action .header__toggle {
  @apply text-black;
}
.header__menu.show-menu {
  @apply opacity-100 scale-y-100;
}
@media screen and (max-width: 767px) {
  .header__menu {
    @apply fixed w-[80%] top-28 left-0 right-0 mx-auto text-center p-8 bg-white shadow-[0_0_12px_rgba(0,0,0,0.1)] rounded-[2rem] transition-all duration-400 opacity-0 scale-y-0 origin-[0%_0%];
  }
}
.header__link {
  @apply text-[15px] text-grey transition-all duration-400;
}
.header__link.active-link {
  @apply font-semibold text-blue transition-all duration-400;
}

/* ===== FEATURE SECTION ===== */
.feature__group {
  @apply grid gap-48;
}
.feature__content {
  @apply grid gap-8;
}
.feature__content-data,
.feature__content-img {
  @apply justify-self-center;
}

/* ===== TESTIMONIAL SECTION ===== */
.testimonial__content {
  @apply grid gap-4 py-12 px-8 bg-white rounded-[2rem] transition-all duration-400;
}
.testimonial__content-profile {
  @apply flex items-center gap-4;
}
.testimonial__content-img {
  @apply w-[65px];
}
.testimonial__content-name {
  @apply text-[17px] text-black font-bold mb-2;
}
.testimonial__content-profession {
  @apply text-[12px] text-grey;
}
.testimonial__content.swiper-slide-active {
  @apply shadow-[-10px_10px_0_#a3bafb];
}
/* swiper pagination */
.testimonial__container .swiper-pagination {
  position: initial;
}
.testimonial__container .swiper-pagination-bullet {
  @apply w-[10px] h-[10px] bg-white bg-opacity-80 transition-all duration-400;
}
.testimonial__container .swiper-pagination-bullet-active {
  @apply w-[2rem] h-[10px] bg-white rounded-[5rem] transition-all duration-400;
}
